/* ::-webkit-scrollbar {
  display: none;
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.blurr {
  border-radius: 338px;
  background: rgba(249, 208, 63, 0.04);
  box-shadow: 0px 4px 25px 0px rgba(249, 208, 63, 0.08);
  filter: blur(60px);
  width: 338px;
  height: 338px;
  flex-shrink: 0;
}

.h-58 {
  height: 15rem;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */
.switch-container {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
}

.switch-label {
  margin-right: 10px;
}

.switch {
  position: relative;
  width: 70px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "Pagination";
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  background-color: #f00;
  transition: 0.4s;
  border-radius: 34px;
  color: #fff;
}

.switch input:checked + .slider:before {
  content: "Infinite Scrolling";
  left: 50%;
}

/* Added styles for slider-label */
.slider-label {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
